<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czl.mapper.BookinfoMapper">
    <resultMap id="BaseResultMap" type="com.czl.pojo.Bookinfo">
        <id column="BookId" property="bookid" jdbcType="INTEGER"/>
        <result column="UserName" property="username" jdbcType="VARCHAR"/>
        <result column="UserEmail" property="useremail" jdbcType="VARCHAR"/>
        <result column="ChickIn" property="chickin" jdbcType="TIMESTAMP"/>
        <result column="ChickOut" property="chickout" jdbcType="TIMESTAMP"/>
        <result column="TypeId" property="typeid" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" suffix=")" prefixOverrides="and">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach collection="criterion.value" item="listItem" open="(" close=")"
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    BookId, UserName, UserEmail, ChickIn, ChickOut, TypeId
  </sql>
    <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.czl.pojo.BookinfoExample">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from bookinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from bookinfo
        where BookId = #{bookid,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from bookinfo
    where BookId = #{bookid,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByExample" parameterType="com.czl.pojo.BookinfoExample">
        delete from bookinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.czl.pojo.Bookinfo">
    insert into bookinfo (BookId, UserName, UserEmail, 
      ChickIn, ChickOut, TypeId
      )
    values (#{bookid,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{useremail,jdbcType=VARCHAR}, 
      #{chickin,jdbcType=TIMESTAMP}, #{chickout,jdbcType=TIMESTAMP}, #{typeid,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.czl.pojo.Bookinfo">
        insert into bookinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="bookid != null">
                BookId,
            </if>
            <if test="username != null">
                UserName,
            </if>
            <if test="useremail != null">
                UserEmail,
            </if>
            <if test="chickin != null">
                ChickIn,
            </if>
            <if test="chickout != null">
                ChickOut,
            </if>
            <if test="typeid != null">
                TypeId,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="bookid != null">
                #{bookid,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="useremail != null">
                #{useremail,jdbcType=VARCHAR},
            </if>
            <if test="chickin != null">
                #{chickin,jdbcType=TIMESTAMP},
            </if>
            <if test="chickout != null">
                #{chickout,jdbcType=TIMESTAMP},
            </if>
            <if test="typeid != null">
                #{typeid,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.czl.pojo.BookinfoExample" resultType="java.lang.Integer">
        select count(*) from bookinfo
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update bookinfo
        <set>
            <if test="record.bookid != null">
                BookId = #{record.bookid,jdbcType=INTEGER},
            </if>
            <if test="record.username != null">
                UserName = #{record.username,jdbcType=VARCHAR},
            </if>
            <if test="record.useremail != null">
                UserEmail = #{record.useremail,jdbcType=VARCHAR},
            </if>
            <if test="record.chickin != null">
                ChickIn = #{record.chickin,jdbcType=TIMESTAMP},
            </if>
            <if test="record.chickout != null">
                ChickOut = #{record.chickout,jdbcType=TIMESTAMP},
            </if>
            <if test="record.typeid != null">
                TypeId = #{record.typeid,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update bookinfo
        set BookId = #{record.bookid,jdbcType=INTEGER},
        UserName = #{record.username,jdbcType=VARCHAR},
        UserEmail = #{record.useremail,jdbcType=VARCHAR},
        ChickIn = #{record.chickin,jdbcType=TIMESTAMP},
        ChickOut = #{record.chickout,jdbcType=TIMESTAMP},
        TypeId = #{record.typeid,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.czl.pojo.Bookinfo">
        update bookinfo
        <set>
            <if test="username != null">
                UserName = #{username,jdbcType=VARCHAR},
            </if>
            <if test="useremail != null">
                UserEmail = #{useremail,jdbcType=VARCHAR},
            </if>
            <if test="chickin != null">
                ChickIn = #{chickin,jdbcType=TIMESTAMP},
            </if>
            <if test="chickout != null">
                ChickOut = #{chickout,jdbcType=TIMESTAMP},
            </if>
            <if test="typeid != null">
                TypeId = #{typeid,jdbcType=INTEGER},
            </if>
        </set>
        where BookId = #{bookid,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.czl.pojo.Bookinfo">
    update bookinfo
    set UserName = #{username,jdbcType=VARCHAR},
      UserEmail = #{useremail,jdbcType=VARCHAR},
      ChickIn = #{chickin,jdbcType=TIMESTAMP},
      ChickOut = #{chickout,jdbcType=TIMESTAMP},
      TypeId = #{typeid,jdbcType=INTEGER}
    where BookId = #{bookid,jdbcType=INTEGER}
  </update>
</mapper>