<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czl.mapper.NewsinfoMapper" >
  <resultMap id="BaseResultMap" type="com.czl.pojo.Newsinfo" >
    <id column="NewsId" property="newsid" jdbcType="INTEGER" />
    <result column="NewTitle" property="newtitle" jdbcType="VARCHAR" />
    <result column="NewContent" property="newcontent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    NewsId, NewTitle, NewContent
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.czl.pojo.NewsinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from newsinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from newsinfo
    where NewsId = #{newsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from newsinfo
    where NewsId = #{newsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.czl.pojo.NewsinfoExample" >
    delete from newsinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.czl.pojo.Newsinfo" >
    insert into newsinfo (NewsId, NewTitle, NewContent
      )
    values (#{newsid,jdbcType=INTEGER}, #{newtitle,jdbcType=VARCHAR}, #{newcontent,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.czl.pojo.Newsinfo" >
    insert into newsinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        NewsId,
      </if>
      <if test="newtitle != null" >
        NewTitle,
      </if>
      <if test="newcontent != null" >
        NewContent,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="newsid != null" >
        #{newsid,jdbcType=INTEGER},
      </if>
      <if test="newtitle != null" >
        #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="newcontent != null" >
        #{newcontent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.czl.pojo.NewsinfoExample" resultType="java.lang.Integer" >
    select count(*) from newsinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update newsinfo
    <set >
      <if test="record.newsid != null" >
        NewsId = #{record.newsid,jdbcType=INTEGER},
      </if>
      <if test="record.newtitle != null" >
        NewTitle = #{record.newtitle,jdbcType=VARCHAR},
      </if>
      <if test="record.newcontent != null" >
        NewContent = #{record.newcontent,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update newsinfo
    set NewsId = #{record.newsid,jdbcType=INTEGER},
      NewTitle = #{record.newtitle,jdbcType=VARCHAR},
      NewContent = #{record.newcontent,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.czl.pojo.Newsinfo" >
    update newsinfo
    <set >
      <if test="newtitle != null" >
        NewTitle = #{newtitle,jdbcType=VARCHAR},
      </if>
      <if test="newcontent != null" >
        NewContent = #{newcontent,jdbcType=VARCHAR},
      </if>
    </set>
    where NewsId = #{newsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czl.pojo.Newsinfo" >
    update newsinfo
    set NewTitle = #{newtitle,jdbcType=VARCHAR},
      NewContent = #{newcontent,jdbcType=VARCHAR}
    where NewsId = #{newsid,jdbcType=INTEGER}
  </update>
</mapper>