<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.czl.mapper.RoommanageMapper" >
  <resultMap id="BaseResultMap" type="com.czl.pojo.Roommanage" >
    <id column="RoomID" property="roomid" jdbcType="INTEGER" />
    <result column="RoomNum" property="roomnum" jdbcType="VARCHAR" />
    <result column="RoomFloor" property="roomfloor" jdbcType="INTEGER" />
    <result column="RoomImg" property="roomimg" jdbcType="VARCHAR" />
    <result column="RoomDesc" property="roomdesc" jdbcType="VARCHAR" />
    <result column="RoomPrice" property="roomprice" jdbcType="DOUBLE" />
    <result column="RoomState" property="roomstate" jdbcType="VARCHAR" />
    <result column="TypeId" property="typeid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    RoomID, RoomNum, RoomFloor, RoomImg, RoomDesc, RoomPrice, RoomState, TypeId
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.czl.pojo.RoommanageExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roommanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from roommanage
    where RoomID = #{roomid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from roommanage
    where RoomID = #{roomid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.czl.pojo.RoommanageExample" >
    delete from roommanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.czl.pojo.Roommanage" >
    insert into roommanage (RoomID, RoomNum, RoomFloor, 
      RoomImg, RoomDesc, RoomPrice, 
      RoomState, TypeId)
    values (#{roomid,jdbcType=INTEGER}, #{roomnum,jdbcType=VARCHAR}, #{roomfloor,jdbcType=INTEGER}, 
      #{roomimg,jdbcType=VARCHAR}, #{roomdesc,jdbcType=VARCHAR}, #{roomprice,jdbcType=DOUBLE}, 
      #{roomstate,jdbcType=VARCHAR}, #{typeid,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.czl.pojo.Roommanage" >
    insert into roommanage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="roomid != null" >
        RoomID,
      </if>
      <if test="roomnum != null" >
        RoomNum,
      </if>
      <if test="roomfloor != null" >
        RoomFloor,
      </if>
      <if test="roomimg != null" >
        RoomImg,
      </if>
      <if test="roomdesc != null" >
        RoomDesc,
      </if>
      <if test="roomprice != null" >
        RoomPrice,
      </if>
      <if test="roomstate != null" >
        RoomState,
      </if>
      <if test="typeid != null" >
        TypeId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="roomid != null" >
        #{roomid,jdbcType=INTEGER},
      </if>
      <if test="roomnum != null" >
        #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomfloor != null" >
        #{roomfloor,jdbcType=INTEGER},
      </if>
      <if test="roomimg != null" >
        #{roomimg,jdbcType=VARCHAR},
      </if>
      <if test="roomdesc != null" >
        #{roomdesc,jdbcType=VARCHAR},
      </if>
      <if test="roomprice != null" >
        #{roomprice,jdbcType=DOUBLE},
      </if>
      <if test="roomstate != null" >
        #{roomstate,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        #{typeid,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.czl.pojo.RoommanageExample" resultType="java.lang.Integer" >
    select count(*) from roommanage
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update roommanage
    <set >
      <if test="record.roomid != null" >
        RoomID = #{record.roomid,jdbcType=INTEGER},
      </if>
      <if test="record.roomnum != null" >
        RoomNum = #{record.roomnum,jdbcType=VARCHAR},
      </if>
      <if test="record.roomfloor != null" >
        RoomFloor = #{record.roomfloor,jdbcType=INTEGER},
      </if>
      <if test="record.roomimg != null" >
        RoomImg = #{record.roomimg,jdbcType=VARCHAR},
      </if>
      <if test="record.roomdesc != null" >
        RoomDesc = #{record.roomdesc,jdbcType=VARCHAR},
      </if>
      <if test="record.roomprice != null" >
        RoomPrice = #{record.roomprice,jdbcType=DOUBLE},
      </if>
      <if test="record.roomstate != null" >
        RoomState = #{record.roomstate,jdbcType=VARCHAR},
      </if>
      <if test="record.typeid != null" >
        TypeId = #{record.typeid,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update roommanage
    set RoomID = #{record.roomid,jdbcType=INTEGER},
      RoomNum = #{record.roomnum,jdbcType=VARCHAR},
      RoomFloor = #{record.roomfloor,jdbcType=INTEGER},
      RoomImg = #{record.roomimg,jdbcType=VARCHAR},
      RoomDesc = #{record.roomdesc,jdbcType=VARCHAR},
      RoomPrice = #{record.roomprice,jdbcType=DOUBLE},
      RoomState = #{record.roomstate,jdbcType=VARCHAR},
      TypeId = #{record.typeid,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.czl.pojo.Roommanage" >
    update roommanage
    <set >
      <if test="roomnum != null" >
        RoomNum = #{roomnum,jdbcType=VARCHAR},
      </if>
      <if test="roomfloor != null" >
        RoomFloor = #{roomfloor,jdbcType=INTEGER},
      </if>
      <if test="roomimg != null" >
        RoomImg = #{roomimg,jdbcType=VARCHAR},
      </if>
      <if test="roomdesc != null" >
        RoomDesc = #{roomdesc,jdbcType=VARCHAR},
      </if>
      <if test="roomprice != null" >
        RoomPrice = #{roomprice,jdbcType=DOUBLE},
      </if>
      <if test="roomstate != null" >
        RoomState = #{roomstate,jdbcType=VARCHAR},
      </if>
      <if test="typeid != null" >
        TypeId = #{typeid,jdbcType=VARCHAR},
      </if>
    </set>
    where RoomID = #{roomid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.czl.pojo.Roommanage" >
    update roommanage
    set RoomNum = #{roomnum,jdbcType=VARCHAR},
      RoomFloor = #{roomfloor,jdbcType=INTEGER},
      RoomImg = #{roomimg,jdbcType=VARCHAR},
      RoomDesc = #{roomdesc,jdbcType=VARCHAR},
      RoomPrice = #{roomprice,jdbcType=DOUBLE},
      RoomState = #{roomstate,jdbcType=VARCHAR},
      TypeId = #{typeid,jdbcType=VARCHAR}
    where RoomID = #{roomid,jdbcType=INTEGER}
  </update>
</mapper>