<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.czl.mapper.Emapper">
	<sql id="getAll">
		select * from employee
	</sql>

	<select id="getAllEmployee" resultType="employee">
		<include refid="getAll"></include>
	</select>
</mapper>