<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <context:component-scan base-package="com.czl.service"></context:component-scan>

	<dubbo:protocol name="dubbo" port="20880" />

    <dubbo:application name="HotelService"/>
    <!--<dubbo:registry address="zookeeper://10.12.159.133:2181"/>-->
    <dubbo:registry address="zookeeper://10.12.159.156:2181"/>
    <!--<dubbo:registry address="zookeeper://192.168.8.100:2181"/>-->

    <dubbo:service interface="com.czl.service.RoommanageService" ref="roommanageImpl"/>
    <dubbo:service interface="com.czl.service.RoomAndTypeService" ref="roomAndTypeImpl"/>
    <dubbo:service interface="com.czl.service.UserInfoService" ref="userInfoServiceImpl" />
</beans>
