<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

<context:component-scan base-package="com.czl.service" />

    <dubbo:application name="HotelManageWeb"/>

    <!--<dubbo:registry address="zookeeper://10.12.159.133:2181"/>-->
    <dubbo:registry address="zookeeper://10.12.159.133:2181"/>
    <!--<dubbo:registry address="zookeeper://192.168.8.100:2181"/>-->

    <dubbo:reference interface="com.czl.service.UserInfoService" id="userInfoServiceImpl"></dubbo:reference>
    <dubbo:reference interface="com.czl.service.RoommanageService" id="roommanageService"></dubbo:reference>
    <dubbo:reference interface="com.czl.service.RoomAndTypeService" id="roomAndTypeService"></dubbo:reference>
    <dubbo:reference interface="com.czl.service.MemberLevelService" id="memberLevelService"></dubbo:reference>
    <dubbo:reference interface="com.czl.service.UserLevelService" id="userLevelService"></dubbo:reference>
</beans>
